!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %title= @page_title
    = csrf_meta_tags
    %meta{content: "#{@seo_keywords}", name: "keywords"}/
    = stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/blog_nav'
    / start of blog header
    .blog-header
      .container
        %h1.blog-title My Blog
        %p.lead.blog-description An example blog template built with Bootstrap.
        = link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin)
    / end of blog header
    .container
      .row
        = yield
        = render 'shared/blog_sidebar'
      / start of footer
      %footer.blog-footer
        %p
          Blog template built for
          %a{href: "https://getbootstrap.com"} Bootstrap
          by
          = succeed "." do
            %a{href: "https://twitter.com/mdo"} @mdo
        %p
          %a{href: "#"} Back to top
      / end of footer
      = source_helper("blog")